%h1 Canvas
%ul
  %li
    =link_to "図形描画", :controller => "drop"
  %li
    =link_to "ダウンロード", :controller => "download"
  %li
    =link_to "File Reder", :controller => "filereader"
  %li
    =link_to "インポート＆エクスポート", :controller => "im_export"



