
<%= link_to "Top", :controller => "top" %>


<form id="fm"><input id="text" type="text">
    <input onclick="addRect()" type="button" value="squere">
    <input onclick="addEllipse()" type="button" value="Ellipse">
    <input onclick="addCircle()" type="button" value="Circle">
</form>

<div id="screen" style="background: silver; height: 500px; width: 500px;">

</div>

